@media screen and (min-width: 768px) {
  .galleryLibrary {
    display: flex;
    flex-wrap: wrap;
  }
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.empty-state {
  color: #fff;
  font-size: 20px;
  margin: auto;
}

.empty-img {
  margin-left: 0;
  margin-right: auto;
}

.empty-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
